<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate News NLP</title>
    </head>

    <body>
        <header>
            <div class="">
                <h1>News NLP</h1>
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <label for="url">Please input URL of news</label>
                    <input id="url" type="url" placeholder="https://">
                    <input type="submit" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <h2><strong>Form Results:</strong></h2>
                <ul>
                    <li>
                      <h3>Text Polarity:</h3>
                      <p id="polarity"></p>
                      <h4>Confidence:</h4>
                      <p id="polarity_confidence"></p>
                    </li>
                    <li>
                      <h3>Text Subjectivity:</h3>
                      <p id="subjectivity"></p>
                      <h4>Confidence:</h4>
                      <p id="subjectivity_confidence"></p>
                    </li>
                    <li>
                      <h3>Text Excerpt:</h3>
                      <p id="excerpt"></p>
                    </li>
                  </ul>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>
